*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}

/* .container h1,
h2,
p {
  color: blue;
}

.container :is(h1, h2, p) {
  color: yellowgreen;
}

a:is(:hover, :focus) {
  background-color: pink;
} */

.container :has(h1 span) {
  color: black;
}

h1:has (+ h2) {
  color: blue;
}
