body {
  font-family: "Arial", sans-serif;
  border: 1px solid red;
}

/* Type selcetors */
h2 {
  color: greenyellow;
  font-size: 30px;
}
a {
  color: red;
  text-decoration: none;
}

/* Class selector */
.sporty {
  color: red;
}
.casual {
  color: blue;
}
.formal {
  color: yellow;
}

/* ID selectors */
#container {
  max-width: 600px;
  margin: 35px auto;
  padding: 20px;
}

/* Multiple styles */
.sporty,
.casual {
  font-size: 55px;
}

/* Descedant style */
#container p {
  background: blue;
}
